:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--slate);
  max-width: 1158px;
  margin: 0 auto;
}

.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
  max-width: 100%;
}

/* header */

.header-wrapper,
.nav,
.nav .list,
.address-header .list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  height: 72px;
}

header {
  border-bottom: 1px solid var(--cornflower);
}

.nav .logo {
  color: var(--iris);
  margin-right: 76px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-up {
  color: var(--navyblue);
}

.link {
  text-decoration: none;
}

.nav-link.link {
  color: var(--navyblue);
  padding: 24px 0;
}

.nav-link.link:hover,
.nav-link.link:focus {
  color: #404bbf;
}

.address-link {
  color: var(--slate);
}

.address-link.link:hover,
.address-link.link:focus {
  color: #404bbf;
}

.menu-nav {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-header {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.menu-nav,
.address-header .list {
  gap: 40px;
}

.list {
  list-style-type: none;
}

/* main */

/*index*/

.hero {
  padding: 188px 0;
  width: 1158px;
  height: 600px;
  background-color: var(--navyblue);
}

.mainheader {
  max-width: 496px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

button {
  display: block;
  height: 56px;
  min-width: 169px;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  color: var(--white);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

.traits {
  padding: 120px 0;
}

.traits .list {
  display: flex;
  gap: 24px;
  min-width: 1128px;
  width: calc((100% - 24px) / 4);
}

.traits-specs {
  width: calc((100% - 72px) / 4); 
}

.active-button {
  background-color: #4d5ae5;
  color: var(--white);
  border: none;
}

.list {
  list-style-type: none;
}

.headers {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--grey);
}

.subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.header-doing {
  margin-bottom: 72px;
  letter-spacing: 0.02em;
  color: var(--grey);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.what-are-we {
  padding-bottom: 120px;

}

.what-are-we .list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.images-we-do {
  width: calc((100% - 48px) / 3); 
}

.header-team {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--grey);
}

.team-section {
  padding: 120px 0;
  background-color: var(--cloud);
}

.team-section .list {
  display: flex;
  gap: 24px;
}

.team-card {
  width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-occupation {
  padding: 32px 0;
}

.team-name {
  text-align: center;
  margin-bottom: 8px;
  color: var(--grey);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-job {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/*portfolio*/
.section-portfolio {
  padding-top: 96px; 
  padding-bottom: 120px; 
}

.button-portfolio {
  color: var(--iris);
  background-color: var(--cloud);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--cornflower);
  padding: 12px 24px;
  border-radius: 4px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

.button-set {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-set li:not(:last-child) {
  margin-right: 24px;
}

.button-set li:last-child {
  margin-right: 0;
}

.portfolio-cards {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px; 

}

.portolio-card {
  width: calc((100% - 48px) / 3);
  border: 1px solid var(--cornflower);
}

.port-specs {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.app-name {
  font-weight: 500;
  color: var(--grey);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--grey);
  text-align: left;
  margin-bottom: 8px;
}

.functionality {
  color: var(--slate);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--slate);
  text-align: left;
}

/* footer */
.footer {
  padding: 100px 0;

  color: var(--cloud);
  background-color: var(--navyblue);
  font-size: 16px;
}

.logotype {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
    display: inline-block; 
  margin-bottom: 16px;
}


.logo-down {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
    line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
